.col-md-6.d-flex.flex-column.justify-content-center.align-items-start {
  padding-left: 5rem;
}
.serviceRight h3 {
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
}
.serviceRight p {
  font-size: 12px;
  color: rgb(170, 170, 170);
  line-height: 25px;
  margin-bottom: 2rem;
}
section.services {
  padding: 5rem 0;
  background-image: url('../../images/serviceBg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}
