.col-md-6.d-flex.flex-column.justify-content-center.align-items-start {
  padding-left: 5rem;
}
.serviceRight h3 {
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
}
.serviceRight p {
  font-size: 12px;
  color: rgb(170, 170, 170);
  line-height: 25px;
  margin-bottom: 2rem;
}

section.services:before {
  content: url('../../images/Group 46@2x.png');
  position: absolute;
  transform: rotate(353deg);
  top: 41rem;
  left: 30rem;
}
