section.achievement {
  background: #fafffd;
  padding: 7rem 0;
}
.singleAchieve {
  border-radius: 0 4rem;
  padding: 2rem 3rem;
  margin: 1rem;
  box-shadow: 5px 15px 40px 10px #e8f8f2;
  transition: 0.6s ease;
  background: transparent;
}
.singleAchieve:hover {
  background: linear-gradient(to right, #0ebbdc, #1cd8ba);
  color: white;
  cursor: pointer;
}
.col-md-5.d-flex.flex-column.justify-content-center.align-items-start h3 {
  font-size: 36px;
  font-family: 'Yeseva One', cursive;
  margin-bottom: 1rem;
}
.col-md-5.d-flex.flex-column.justify-content-center.align-items-start p {
  font-size: 12px;
  color: rgb(170, 170, 170);
  line-height: 25px;
  margin-bottom: 2rem;
}
.details h2 {
  font-size: 40px;
  font-weight: 700;
}
img.achieveImg {
  width: 3rem;
  margin-right: 1rem;
}
