header.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
}

a.navbar-brand img {
  width: 8rem;
}
.ml-auto.navbar-nav a {
  color: black;
  font-size: 14px;
  margin-right: 2rem;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.ml-auto.navbar-nav a.active {
  font-weight: 600;
}
button.contactBtn {
  border-radius: 22px 0px;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 0.65rem 1.8rem;
  transition: 0.6s ease;
  background: linear-gradient(to left, #0db9de, #1edcb4);
}
button.contactBtn:focus {
  outline: none;
}
button.contactBtn:hover {
  background: transparent;
  color: black;
  box-shadow: 0px 0px 15px 2px #1edcb4;
}
@media screen and (max-width: 992px) {
  .ml-auto.align-items-center.navbar-nav {
    background: white !important;
    padding: 2rem 0;
  }
}
