.header-main {
  padding-top: 10rem;
  background-image: url('../../images/bannerBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  background-position-x: left;
}

.leftBanner h1 {
  font-size: 5rem;
  width: 20rem;
  line-height: 70px;
  font-weight: 500;
  color: black;
  margin-bottom: 2rem;
  font-family: 'Yeseva One', cursive;
}
.leftBanner p {
  font-size: 12px;
  width: 25rem;
  line-height: 25px;
  color: gray;
  margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
  .col-md-6.d-flex.flex-column.justify-content-center.align-items-start {
    padding-left: 1rem !important;
  }
  .leftBanner h1 {
    font-size: 3rem;
    width: 100%;
  }
  .leftBanner p {
    width: 100%;
  }
}
